<div class="container d-flex justify-content-center footer">
    <div class="footercontent">

        Copyright &copy
        <script language="javascript" type="text/javascript">
            var today = new Date()
            var year = today.getFullYear()
            document.write(year + '.')
        </script>

    </div>

</div>