<br>
<br>
<div class="container d-flex justify-content-center">
    <a href="https://www.washingtonpost.com/business/technology"
       target="_blank"><img src="./images/washingtonpost-white-on-blue.jpg"
                            height="88" class="center-block">
    </a>
</div>

<br>


<!--  NAVBAR STYLE SIMILAR TO PERSONIFY THEME  -->
<div class="container">
    <nav class="navbar navbar-expand-sm justify-content-center">
        <ul class="navbar-nav">

            <!--  REVIEW:  mx-4 mb-0 h4 FONT COLOR  -->
            <li class="nav-item">
                <a class="nav-link mx-4 mb-0 h4" style="color:black" href="/">Home</a>
            </li>
            <!--  REVIEW:  mx-4 mb-0 h4 FONT COLOR  -->
            <li class="nav-item">
                <a class="nav-link mx-4 mb-0 h4" style="color:black" href="/saved">SAVED NEWSBYTES</a>
            </li>

            <!--  REVIEW:  mx-4 mb-0 h4 FONT COLOR  -->
            <li class="nav-item">
                <a class="nav-link mx-4 mb-0 h4" style="color:black" href="/scrape">SCRAPE for NEWSBYTES</a>

            </li>
        </ul>
    </nav>

</div>