<div class = "container" >
    <br><br><br>
    <p class = "h1 text-center"> Please choose "VIEW SAVED NEWSBYTES" or "SCRAPE for NEWSBYTES".</p>
    <p class = "text-center">Scraped from the WASHINGTON POST - BUSINESS TECHNOLOGY</p>
    <br><br><br>
</div>